<section class="section-aboutus" id="section-aboutus">
    <div class="container container-aboutus">
        <div class="content">
            <h2 class="section-titel">About us </h2>
        
                    <p class="description">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life
                        with new zest and style.
                        Our store offers a wide selection of high-quality and authentic embroidery, which combines the
                        elegance of traditional
                        needlework and modern design.</p>
                
                    <p class="description">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern,
                        corresponding to the latest
                        fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly
                        qualified craftsmen who convey
                        the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing,
                        but a symbol of
                        national pride, the heritage of our ancestors and a way of expressing one's individuality. Each
                        embroidery from
                        "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.
                    </p>
        </div>
<img class="image" srcset="
                ../Img-P100/About-Us/mobile/girl-about-mb.jpg          355w,
                ../Img-P100/About-Us/tablet/girl-boy-tb.jpg            704w,
                ../Img-P100/About-Us/desktop2/girl-and-boy-desk2-min.jpg          594w,
                ../Img-P100/About-Us/desktop/girl-boy-pc.jpg         709w,
                ../Img-P100/About-Us/mobile/girl-about-mb@2x.jpg         670w,
                ../Img-P100/About-Us/tablet/girl-boy-tb@2x.jpg          1408w,
                 ../Img-P100/About-Us/desktop2/girl-and-boy-desk2@x2-min.jpg      1188w,
                ../Img-P100/About-Us/desktop/girl-boy-pc@2x.jpg  1418w
              "
              sizes="(min-width: 1440px) 709px, (min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px"
              src="../Img-P100/About-Us/mobile/girl-about-mb.jpg"
              alt="ornament-shirt"
            />
        
    </div>

</section>