<section class="collection-section">
  <div class="container collection-container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list list">
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              src="../img/product/vyshyvanka1.jpg"
              alt=""
            />
            <!-- srcset="
                ./images/portfolio/mb-portfolio-1.jpg    335w,
                ./images/portfolio/tb-portfolio-1.jpg    342w,
                ./images/portfolio/lp-portfolio-1.jpg    347w,
                ../img/product/vyshyvanka1.jpg           400w,
                ./images/portfolio/mb-portfolio-1@2x.jpg 670w,
                ./images/portfolio/tb-portfolio-1@2x.jpg 684w,
                ./images/portfolio/lp-portfolio-1@2x.jpg 694w,
                ../img/product/vyshyvanka1@2x.jpg        800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px" -->
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">
              AUGUST Poltava women's blouseRING
            </h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </a>
      </li>

      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset=""
              src="../img/image 63.jpg"
              alt=""
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset=""
              src="../img/image 63.jpg"
              alt=""
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset=""
              src="../img/image 63.jpg"
              alt=""
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset=""
              src="../img/image 63.jpg"
              alt=""
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset=""
              src="../img/image 63.jpg"
              alt=""
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
