<section class="collection-section" id="collection-section">
  <div class="container collection-container">
    <h2 class="section-title">Our Collection</h2>
    <ul class="collection-list list">
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb1.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb1.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc1.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-1-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb1@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb1@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc1@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-1-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="../Img-P100/Our-Collection/mobile/clothe-mb1.jpg"
              alt="black women's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">
              AUGUST Poltava women's blouseRING
            </h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </a>
      </li>

      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb2.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb2.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc2.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-2-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb2@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb2@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc2@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-2-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="./Img-P100/Our-Collection/mobile/clothe-mb2.jpg"
              alt="beige women's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb3.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb3.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc3.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-3-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb3@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb3@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc3@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-3-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="./Img-P100/Our-Collection/mobile/clothe-mb3.jpg"
              alt="white women's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb4.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb4.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc4.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-4-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb4@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb4@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc4@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-4-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="./Img-P100/Our-Collection/mobile/clothe-mb4.jpg"
              alt="beige men's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb5.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb5.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc5.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-5-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb5@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb5@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc5@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-5-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="./Img-P100/Our-Collection/mobile/clothe-mb5.jpg"
              alt="black men's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </a>
      </li>
      <li class="collection-list-item">
        <a class="collection-link link" href="">
          <div class="collection-thumb">
            <img
              class="collection-img"
              srcset="
                ./Img-P100/Our-Collection/mobile/clothe-mb6.jpg              335w,
                ./Img-P100/Our-Collection/tablet/clothe-tb6.jpg              342w,
                ./Img-P100/Our-Collection/desktop/clothe-pc6.jpg             347w,
                ./Img-P100/Our-Collection/desktop2/clothe-6-desk2-min.jpg    400w,
                ./Img-P100/Our-Collection/mobile/clothe-mb6@2x.jpg           670w,
                ./Img-P100/Our-Collection/tablet/clothe-tb6@2x.jpg           684w,
                ./Img-P100/Our-Collection/desktop/clothe-pc6@2x.jpg          694w,
                ./Img-P100/Our-Collection/desktop2/clothe-6-desk2@x2-min.jpg 800w
              "
              sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
              src="./Img-P100/Our-Collection/mobile/clothe-mb6.jpg"
              alt="white men's vyshyvanka"
            />
          </div>
          <div class="collection-info">
            <h3 class="collection-item-name">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
