<footer class="footer-section">
  <div class="container footer-container">
    <div class="nav-footer">
      <ul class="nav-list list">
        <li class="footer-nav-item">
          <a class="nav-link link" href="#section-aboutus"
            ><span class="span-pading">About us</span></a
          >
        </li>
        <li class="footer-nav-item">
          <a class="nav-link link" href="#order">Customer order</a>
        </li>
        <li class="footer-nav-item">
          <a class="nav-link link" href="#collection-section">Our collection</a>
        </li>
        <li class="footer-nav-item">
          <a class="nav-link link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <p class="footer-slogan">
      A touch of <span class="accent-text">Ukrainian </span>culture in every
      embroidery
    </p>
  </div>
</footer>
