<!-- SECTION HERO -->
<section class="hero-section section">
  <div class="hero-container container">
    <div class="reverse-aim">
      <h1 class="hero-title">
        <span class="break">Reviving the </span>traditional
        <span class="golden-deco">Ukrainian </span> artistry in every stitch.
      </h1>

      <div class="advantage">
        <img
          class="star"
          srcset="../Img P100/Hero/dekstop/star104x104@2x.png 2x"
          src="../Img P100/Hero/dekstop/star-52x52.png"
          alt="girl"
          width="52"
          height="51"
        />
        <p class="advantage-text">all embroidery is made by hand</p>
      </div>

      <a class="hero-anchor" href="#order">
        <div class="hero-link">
          order
          <svg class="hero-link-icon" width="26" height="10">
            <use href="../Img P100/symbol-defs.svg#icon-order"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="images-hero">
      <img
        class="hero-img"
        srcset="
          ../Img P100/Hero/mobile/girl-hero.jpg         335w,
          ../Img P100/Hero/tablet/girl-hero-tb.jpg      413w,
          ../Img P100/Hero/desctop/girl-hero-pc.jpg     392w,
          ../Img P100/Hero/mobile/girl-hero@2x.jpg  670w,
          ../Img P100/Hero/tablet/girl-hero-tb@2x.jpg  826w,
          ../Img P100/Hero/desctop/girl-hero-pc@2x.jpg  784w
        "
        sizes="(min-width:1220px) 392px,
                  (min-width: 768px) 413px,
                  (max-width: 375px) 335px
                  "
        src="./Img P100/Hero/mobile/girl-hero.jpg"
        alt="girl foto"
        width="335"
        height="545"
      />

      <img
        class="hero-decoration-img"
        srcset="
          ../Img P100/Hero/tablet/elipse-hero-tb.jpg      175w,
          ../Img P100/Hero/desctop/elipse-hero-tb.jpg     142.159w,
          ../Img P100/Hero/desctop2/elipse-hero-tb.jpg     139w,
          ../Img P100/Hero/tablet/elipse-hero-tb@2x.jpg  350w,
          ../Img P100/Hero/desctop/elipse-hero-tb@2x.jpg  284.318w,
          ../Img P100/Hero/desctop2/elipse-hero-tb@2x.jpg  278w
        "
        sizes="(min-width:1440px) 139px,
               (min-width:1220px) 142.159px,
                (min-width: 768px) 175px,
                "
        src="./Img P100/Hero/tablet/elipse-hero-tb.jpg"
        alt="deco element"
        width="157"
        height="191"
      />
    </div>
  </div>
</section>
