<!-- SECTION HERO -->
<section class="hero-section section">
  <div class="hero-container container">
    <div class="reverse-aim">
      <h1 class="hero-title">
        <span class="break">Reviving the </span>traditional
        <span class="golden-deco">Ukrainian </span> artistry in every stitch.
      </h1>

      <div class="advantage">
        <img
          class="star"
          srcset="./Img-P100/Hero/dekstop/star104x104@2x.png 2x"
          src="./Img-P100/Hero/dekstop/star-52x52.png"
          alt="star image"
          width="52"
          height="51"
        />
        <p class="advantage-text">all embroidery is made by hand</p>
      </div>

      <a class="hero-anchor hero-link" href="#order">
        order
        <svg class="hero-link-icon">
          <use href="./Img-P100/symbol-defs.svg#icon-order"></use>
        </svg>
      </a>
    </div>
    <div class="images-hero">
      <img
        class="hero-img"
        srcset="
          ./Img-P100/Hero/mobile/girl-hero.jpg        335w,
          ./Img-P100/Hero/tablet/girl-hero-tb.jpg     413w,
          ./Img-P100/Hero/dekstop/girl-hero-pc.jpg    392w,
          ./Img-P100/Hero/mobile/girl-hero@2x.jpg     670w,
          ./Img-P100/Hero/tablet/girl-hero-tb@2.jpg   826w,
          ./Img-P100/Hero/dekstop/girl-hero-pc@2x.jpg 784w
        "
        sizes="(min-width:1220px) 392px,
                  (min-width: 768px) 413px,
                  (max-width: 375px) 335px
                  "
        src="./Img-P100/Hero/mobile/girl-hero.jpg"
        alt="girl foto"
        width="335"
        height="545"
      />

      <img
        class="hero-decoration-img"
        srcset="./Img-P100/Hero/tablet/elipse-hero-tb@2x.jpg 2x"
        src="./Img-P100/Hero/tablet/elipse-hero-tb.jpg"
        alt="deco element"
        width="139"
        height="197"
      />
    </div>
  </div>
</section>
