.section-aboutus {
    background-image:
        url(../img/other/elements-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 459px;
}

.container-aboutus{
display: block;
margin-top: 1082px;
gap: 50px;
}


.content {
    display: list-item;
}

.header {
    color: #FCF9F9;
    margin-bottom: 54px;
    font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        text-transform: capitalize;

}
.description{
    color: #FCF9F966;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-bottom: 20px;
    
}

.content img {
display: block;
    margin-top: auto;
    margin-bottom: 0;
    width: 50%;
    position: relative;
    width: 335px;
    border-radius: 4px;
}
 
@media screen and (min-width: 1440px) {
.section-aboutus {
        background-image:
            url(../img/other/elements.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 545px;
    }


.container-aboutus {
    display: flex;
        margin-top: 141px;
        gap: 40px;
        max-width: 1440px;
            padding: 0 100px;
    }


    .content {
        display: list-item;
    }

    .content img {
        display: block;
            margin-left: auto;
            margin-right: 0;
            width: 50%;
            position: relative;
            width: 709px;
    }

}
@media screen and (min-width: 768px) {
    .container-aboutus {
        display: block;
        margin-top: 1175px;
        gap: 40px;
        max-width: 768px;
            padding: 0 32px;
    }


    .content {
        display: list-item;
    }

    .content img {
    display: block;
        margin-left: auto;
        margin-right: 0;
        width: 50%;
        position: relative;
        width: 709px;
    }

}

@media screen and (min-width: 1280px) {
    .container-aboutus {
        display: flex;
        margin-top: 150px;
        gap: 50px;
        max-width: 1280px;
            padding: 0 98px;
    }


    .content {
        display: list-item;
    }

    .content img {
        display: block;
        margin-top: auto;
        margin-bottom: 0;
        width: 50%;
        position: relative;
        width: 594px;
        border-radius: 4px;
    }

}