body{
    font-family: Manrope;
    color: #FCF9F9;
    background: #1C2225;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

p:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}
