body {
  font-family: Manrope;
  color: #fcf9f9;
  background: #1c2225;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 98px;
  }

  .section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
