.footer-section {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 40px;
  min-height: 649px;

  background-image: url(../Img-P100/Footer/mobile/ornament-footer-mob-min.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
}

.span-pading {
  padding-right: 49px;
}

.nav-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 250ms linear;
}

.nav-link:focus {
  color: #ecd979;
}

.footer-slogan {
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  max-width: 335px;
}

.accent-text {
  color: var(--white, #ecd979);
}

@media screen and (min-width: 768px) {
  .footer-section {
    min-height: 370px;

    background-image: url(../Img-P100/Footer/tablet/ornament-footer-tb-min.png);
    background-position: right;
  }

  .footer-container {
    gap: 80px;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
  }

  .span-pading {
    padding-right: 0;
  }

  .footer-slogan {
    font-size: 54px;
    line-height: 1.18;
    max-width: 521px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    min-height: 363px;
    background-image: url(../Img-P100/Footer/desktop/ornament-footer-desk-min.png);
  }

  .footer-container {
    gap: 117px;
  }

  .nav-link:hover {
    color: #ecd979;
  }

  .footer-slogan {
    font-size: 64px;
    line-height: 1.15;
    max-width: 754px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-section {
    background-image: url(../Img-P100/Footer/desktop2/ornament-footer-desk2-min.png);
  }
}
