.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  padding-top: 20px;
}
  
    
.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  fill: #ECD979;
  width: 44px;
  height: 39px;
}
   
.header-navigation-menu {
  display: none;
}
  
.header-info-cont {
  display: none;
}
  
.header-info-social {
  display: flex;
  gap: 12px;
  margin-left: 87px;
}
  
.header-link-social {
  background: rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(252, 249, 249, 0.2);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
  
.header-link-social:hover {
  background: rgba(252, 249, 249, 0);
  border-color: #ECD979;
}
  
.header-svg-link {
  fill: #FCF9F9;
  padding: 8px;
}
  
.mobile-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  
  padding: 20px 20px;
  
  display: flex;
  flex-direction: column;
  
  
  background-color: #ECD979;
  
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}
  
.mobile-container-is-open {
  transform: translateX(0%);
}
  
.mob-cont-close {
  display: flex;
  justify-content: space-between;
}
  
  
.list-menu-mobile {
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
  
.text-mob-menu {
  color: #1C2225;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
  
.menu-list-container {
  margin-top: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}
  
.menu-cont {
  font-size: 12px;
  font-weight: 400;
  color: #1C2225;
  width: 160px;
  height: 38px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(28, 34, 37, 0.1);
  border-width: 1px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;  
}
  
  
.menu-element {
  width: 340px;
  height: 302px;
  position: relative;
  overflow: hidden;
  height: auto;
  position: absolute;
  right: 5.13%;
  left: -6%;
  width: 105%;
  bottom: -95.78%;
  top: 100.89%;
  height: 37%;
  transform: translate(27px, -301.66px);
  overflow: visible;
}
  
   
  
    
.mobile-menu-btm-close {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
}

.btn-close {
  stroke: #1C2225;
  width: 36px;
  height: 36px;
}     
  
.btn-nav-menu {
 display: block;
 cursor: pointer;
 border: none;
 background-color: transparent;
 padding: 0;
  
}
  
.header-nav-svg {
 stroke: #ECD979;
 width: 36px;
 height: 24px;
    }


  
    @media screen and (min-width: 768px) {
      .header-container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 20px;
        margin: 0 auto;
      }

      .header-info-social {
        display: flex;
        gap: 12px;
        margin-left: 440px;
      }

      .header-nav-svg {
        width: 44px;
        height: 30px;
      }

      .btn-close {
        stroke: #1C2225;
        width: 44px;
        height: 44px;
      }

      .menu-cont {
        font-size: 14px;
        width: 193px;
        height: 48px;
        padding: 14px 27px;
      }

    }
  
  @media screen and (min-width: 1280px) {
      .header-container {
        width: 1280px;
        padding-left: 98px;
        padding-right: 98px;
        padding-top: 20px;
        margin: 0 auto;
      }
  
      .header-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
  
      .btn-nav-menu {
        display: none;
      }
  
      .header-info-social {
        display: flex;
        gap: 12px;
        margin-left: 20px;
      }
  
      .header-navigation-menu {
        display: flex;
        gap: 25px;
        margin-left: 60px;
        margin-right: 129px;
      }
  
      .header-menu-text {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #FCF9F9;
        text-transform: uppercase;
        position: relative;
      }
  
      .header-menu-text:hover {
        color: #ECD979;
      }
  
      .header-info-cont {
        display: flex;
        align-items: center;
      }
  
      .contacts-number {
        width: 193px;
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        color: #FCF9F9;
        border-radius: 15px;
        border-style: solid;
        border-color: rgba(252, 249, 249, 0.2);
        border-width: 1px;
        padding: 14px 27px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
      }
  
      .contacts-number:hover {
        border-color: #ECD979;
      }
  
      .contacts-number:focus {
        border-color: #ECD979;
      }
  
      .header-nav-adds {
        font-style: normal;
        display: flex;
        gap: 0;
      }

      .mobile-container {
        display: none;
      }
    }
  
  @media screen and (min-width: 1440px) {
      .header-container {
        width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 20px;
      }

      .nav-menu {
        margin-left: 0;
      }

      .header-navigation-menu {
        margin-right: 288px;
      }
    }